<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="solutions.plural.qoala">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".MainLogadoActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainLogadoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="solutions.plural.qoala.MainLogadoActivity" />
        </activity>
        <activity
            android:name=".PostDetailActivity"
            android:label="@string/title_activity_post"
            android:parentActivityName=".MainLogadoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="solutions.plural.qoala.MainLogadoActivity" />
        </activity>
        <activity
            android:name=".MyProfileActivity"
            android:label="@string/title_activity_myprofile"
            android:parentActivityName=".MainLogadoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="solutions.plural.qoala.MainLogadoActivity" />
        </activity>
        <activity
            android:name=".PostCommentsActivity"
            android:label="@string/title_activity_post_comments">
        </activity>
    </application>

</manifest>